/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header {
  background-image: url(../img/img-fondo.jpg);
  padding: 5px;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a img {
  width: 80%;
}
header .navbar {
  margin-left: 15px;
  margin-right: 15px;
}

/*main*/
main {
  background-color: whitesmoke;
  gap: none;
  padding: 30px;
  margin: none;
}

/*grid*/
.container-principal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  gap: 40px;
  padding: 20px;
  margin: none;
}

/*historia*/
.seccion-historia div {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: none;
  gap: 20px;
  align-items: center;
}

.seccion-historia h1, .seccion-historia p {
  grid-column: 1/-1;
}

/*personajes home*/
.seccion-personajes h2, .seccion-personajes p {
  grid-column: 1/-1;
}

.seccion-personajes {
  display: grid;
  gap: 20px;
}

.seccion-personajes .f-maximal, .seccion-personajes .f-predacon {
  display: inline-block;
  width: 45%;
  text-align: center;
}

.seccion-personajes div:has(.faccion) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
  gap: 20px;
}

/* estilo img intro home  */
.img-intro {
  width: 90%;
}

/* estilo img facciones home */
.faccion {
  width: 500px;
}

/*estilo facciones*/
.contenedor-facciones ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* separacion personajes maximal / predacon*/
/* estlio general  */
.f-maximal ul, .f-predacon ul {
  list-style: none;
  gap: none;
  padding: 0;
  margin: 0;
}

/*grid personajes*/
.f-maximal ul li, .f-predacon ul li {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: auto auto;
  gap: 15px;
  align-items: start;
}
.f-maximal ul li strong, .f-predacon ul li strong {
  grid-column: 1/5;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

/* efectos*/
.contenedor-efecto {
  position: relative;
  width: 100%;
  height: 110px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contenedor-efecto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

/*textos*/
.capa-texto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Color Verde para Maximales */
.f-maximal .capa-texto {
  background: rgba(46, 204, 113, 0.8);
}

/* Color Rojo para Predacons */
.f-predacon .capa-texto {
  background: rgba(192, 57, 43, 0.8);
}

/*  efectos de hover */
.contenedor-efecto:hover .capa-texto {
  opacity: 1;
}
.contenedor-efecto:hover .img {
  transform: scale(1.1);
}

/*temporadas*/
article ul {
  list-style: none;
}

.seccion-temporadas h1 {
  grid-column: 1/-1;
}
.seccion-temporadas div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  gap: 20px;
  align-items: start;
}

/*footer*/
footer {
  background-image: url(../img/img-fondo.jpg);
  padding: 10px;
  text-align: center;
}
footer p {
  color: white;
}

/* estilos redes-sociales */
.redes-sociales {
  width: 1.5%;
  list-style: none;
}

/*MQ*/
/*mobile*/
@media (max-width: 600px) {
  header div img {
    width: 60%;
  }
  .seccion-historia div,
  .seccion-personajes div:has(.faccion),
  .seccion-temporadas .grid-temporadas {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    overflow-x: scroll;
  }
  .img-intro {
    width: 60%;
    margin-bottom: 20px;
  }
  .faccion {
    width: 450px;
    margin: 0 auto;
  }
  .seccion-personajes .f-maximal, .seccion-personajes .f-predacon {
    width: 100%;
    margin-bottom: 30px;
    overflow-x: scroll;
  }
  .redes-sociales {
    width: 30px;
    margin-right: 15px;
  }
}
/*tablet*/
@media (max-width: 1024px) {
  .seccion-historia div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    text-align: left;
  }
  .f-maximal ul li, .f-predacon ul li {
    grid-template-columns: repeat(3fr 1fr);
    grid-template-rows: none;
  }
  .f-maximal ul li strong, .f-predacon ul li strong {
    grid-column: 1/4;
  }
  .seccion-temporadas .grid-temporadas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
}
/*desktop*/
@media (min-width: 1440px) {
  .f-maximal ul li, .f-predacon ul li {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }
  .f-maximal ul li strong, .f-predacon ul li strong {
    grid-column: 1/5;
  }
  .seccion-personajes div:has(.faccion) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
