//variables 
@use "../utilities/variables.scss" as *;
//mixin 
@use "../utilities/mixin" as *;

/*footer*/
footer{
    background-image: url(../img/img-fondo.jpg);
    padding: 10px;
    text-align: center;
    }

    /* estilos redes-sociales */

.redes-sociales{
    width: 1.5%;
    list-style: none;
    }